
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
}

.App {
  position: absolute;
  top: 0px;
  text-align: center;
  color: white;
}

.modal {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
}
