/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto+Slab&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@600&family=Raleway:wght@500&display=swap');

body {
  padding: 0;
  margin: 0;
  user-select: none;
  background: #2f4999;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Podkova', serif;
}

body, input, button {
  font-family: 'Raleway', sans-serif;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

#game {
  color: white;
  width: 100%;

  .header {
    position: absolute;
    top: 5px;
    left: 10px;
    margin-top: 0px;
  }

  .disclaimer {
    position: absolute;
    bottom: 3px;
    left: 3px;
    font-size: 8px;
  }
}

button {
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  background: #417154;
  color: white;
  -webkit-appearance: none;
}

.panel {
  .row {
    display: flex;
    align-items: center;
    justify-items: space-between;
    margin: 5px 0;

    label {
      display: block;
      flex: 1 0 100px;
      width: 75px;
    }

    input {
      margin-left: 5px;
      flex: 1 0 100px;
      width: 50px;
    }

    button {
      display: block;
      margin: 0 5px;
      padding: 0 10px;
      height: 25px;
    }

  }

  h1 {
    font-size: 1.5em;
    margin: 0px 0px 5px 0px;
  }

  .progress {
    padding: 0 5px;
  }

  font-size: 0.75em;
  color: black;
  background: white;

  position: absolute;
  top: 10px;
  right: 10px;

  padding: 10px;
  width: 275px;
  border-radius: 4px;
}

.social {
  position: absolute;
  bottom: 3px;
  right: 7px;

  a {
    display: inline-block;
    margin-left: 5px;
  }
}
