/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto+Slab&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,500;1,400&family=Raleway:wght@500&display=swap');

/* Fix mobile Safari weirdness: https://chanind.github.io/javascript/2019/09/28/avoid-100vh-on-mobile-web.html#comment-4634290908 */
html, body { height: 100%; }

@mixin menu-link {
  display: inline-block;
  &::after {
    content: "\00BB";
    display: inline-block;
    padding-left: 5px;
  }
}

body {
  padding: 0;
  margin: 0;
  user-select: none;
  /*background: #2f4999; ocean */
  background: #000000;
}

a {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya', serif;
  font-weight: normal;
}

body, input, button {
  font-family: 'Alegreya', serif;
  font-weight: normal;
}

canvas {
  z-index: -1;
}

@keyframes slide-and-fade-in {
  from {
    opacity: 0;
    transform: translate(-20px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#game {
  color: white;
  width: 100%;
  display: grid;

  .hiding {
    animation: fade-out 0.5s forwards !important;
  }

  #ui {
    display: grid;
  }

  #ui, #world, #main-menu, #tutorial, .desktop {
    grid-area: 1 / 1 / 2 / 2;
  }

  #main-menu, #tutorial {
    display: grid;
    grid-template-columns: minmax(5px, 25px) 5fr minmax(5px, 25px);
    grid-template-rows: auto auto min-content;
    grid-template-areas: ". Header ." ". . ." ". Menu .";
  }

  #tutorial {
    .task {
      grid-area: Header;

      padding-top: 20px;
      font-size: 2vh;
      text-shadow: 1px 1px #000000;
      pointer-events: none;
      opacity: 0;
      animation: fade-in 0.5s 0.5s forwards;
      .main {
        font-size: 1.25em;
      }
    }
    .description {
      grid-area: Menu;
      font-style: italic;
      font-size: 2.5vh;
      text-shadow: 1px 1px #000000;
      margin: 50px 20px;
      animation: fade-in 0.5s forwards;
      opacity: 0;
      text-align: center;
      a {
        @include menu-link;
      }
    }
  }

  #main-menu {
    .header {
      font-size: 5vh;
      grid-area: Header;
      z-index: 1;
      text-shadow: 1px 1px #000000;
      pointer-events: none;

      .small { font-style: italic; }

      .small, .strapline {
        padding-top: 10px;
        font-size: 0.6em;
        opacity: 0;
      }

      .main {
        font-size: 1.75em;
        opacity: 0;
        line-height: 1.0em;
      }

      .small { animation: slide-and-fade-in 1.5s 0.25s forwards; }
      .main { animation: slide-and-fade-in 2.15s 1.0s forwards; }
      .strapline { animation: slide-and-fade-in 3s 2.5s forwards; }
    }

    menu {
      font-size: 2.5vh;
      text-shadow: 1px 1px #000000;
      grid-area: Menu;
      padding: 0;
      animation: fade-in 3s 3.5s forwards;
      opacity: 0;
      text-align: center;
      li {
        list-style: none;
        a {
          font-size: 1.25em;
          line-height: 1.75em;
          @include menu-link;
        }
      }
    }
    .social {
      font-size: 2em;
      margin: 20px 0;
      a { padding: 0 5px; }
      img { height: 3vh; }
    }

    .disclaimer {
      margin: 20px 0;
      font-size: 0.5em;
    }
  }
}

button {
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  background: #417154;
  color: white;
  -webkit-appearance: none;
}

.panel {
  .debug { display: none; }
  .close {
    float: right;
    margin: -10px -13px -5px -10px;
    padding: 5px 10px 5px 10px;
    color: white;
    &:hover { transform: scale(1.25); color: #666; transition: transform 0.2s, color 0.5s; }
  }

  .row {
    display: flex;
    align-items: center;
    justify-items: space-between;
    margin: 5px 0;

    label {
      display: block;
      flex: 1 0 100px;
      width: 75px;
    }

    input {
      margin-left: 5px;
      flex: 1 0 100px;
      width: 50px;
    }

    button {
      display: block;
      margin: 0 5px;
      padding: 0 10px;
      height: 25px;
    }

    .progress {
      padding: 0 5px;
    }
  }

  h1 {
    font-size: 1.5em;
    padding: 5px 5px;
    margin: -8px -8px 0px -8px;
    border-radius: 4px;
  }

  font-size: 0.75em;
  color: white;
  background: #3C4542;

  padding: 10px;
  border-radius: 4px;

  @media (max-width: 499px) {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 120px;
  }

  @media (min-width: 500px) {
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1);
    &.react-draggable-dragging {
      transition: opacity 0.2s;
      opacity: 0.8;
    }

    width: 275px;
    opacity: 1;
    transition: opacity 0.2s;

    h1:hover {
      transition: background 0.2s;
      background-color: #555;
    }
  }
}
