/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto+Slab&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,500;1,400&family=Raleway:wght@500&display=swap');

/* Fix mobile Safari weirdness: https://chanind.github.io/javascript/2019/09/28/avoid-100vh-on-mobile-web.html#comment-4634290908 */
html, body, #root { height: 100%; }

$brown-200: #453a3d;
$brown-300: #5c4b46;
$brown-400: #745354;

@mixin menu-link {
  display: inline-block;
  &::after {
    content: "\00BB";
    display: inline-block;
    padding-left: 5px;
  }
}

body {
  padding: 0;
  margin: 0;
  user-select: none;
  /*background: #2f4999; ocean */
  background: #000000;
  overflow: hidden;
  touch-action: none;
}

.knockedback {
  opacity: 0.5;
}

.level-warning {
  color: #e2c879;
}

.level-error {
  color: #992e30;
}

a {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya', serif;
  font-weight: normal;
}

body, input, button {
  font-family: 'Alegreya', serif;
  font-weight: normal;
}

canvas {
  z-index: -1;
}

@keyframes slide-and-fade-in {
  from {
    opacity: 0;
    transform: translate(-20px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#game {
  color: white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100%;
  grid-template-areas: "Main";

  .hiding {
    animation: fade-out 0.5s forwards !important;
  }

  #ui {
    height: 100%;
    display: grid;
    grid-template-columns: 5px 25px 1fr 0.5fr 0.5fr 25px 5px;
    grid-template-rows: 5px 25px auto 70px 35px 5px;
    grid-template-areas:
      ". . . . . . ."
      ". Supplies Supplies Clock Clock Clock ."
      ". Main Main Main Main Main ."
      ". SelectedPerson SelectedPerson SelectedPerson . . ."
      ". . . SpeedControls SpeedControls SpeedControls ."
      ". . . . . . ."
  }

  #ui, #world, #main-menu, #game-over, .desktop {
    height: 100%;
    grid-area: Main / Main / SelectedPerson / Main;
  }

  #clock {
    grid-area: Clock;
    text-align: right;
    text-transform: capitalize;
  }

  #speed-controls { grid-area: SpeedControls; }

  #speed-controls {
    animation: fade-in 1.5s forwards;
    opacity: 0;
    text-align: right;
    button {
      font-size: 1.1vh;
      margin-left: 5px;
      background: black;
      &:disabled {
        background: #417154;
      }
    }
  }

  #selected-person {
    grid-area: SelectedPerson;
    z-index: 1;
    margin-left: 75px;
    font-size: 0.5em;
    h1 {
      margin: 0px 0px 0px -75px;
    }
    .traits {
      position: absolute;
      bottom: 0px;
      left: 5px;
    }
  }

  #clock, #supplies {
    text-shadow: 1px 1px #000000;
    animation: fade-in 1.5s forwards;
    opacity: 0;
    font-size: 1.75vh;
  }

  #tutorial {
    grid-area: Main;
    user-select: none;

    display: grid;
    grid-template-rows: auto auto min-content;
    grid-template-areas: "Task" "." "Lower";

    .task {
      margin-left: 5px;
      grid-area: Task;
      font-size: 2vh;
      text-shadow: 1px 1px #000000;
      pointer-events: none;
      opacity: 0;
      animation: slide-and-fade-in 0.75s forwards;
      .main {
        font-size: 1.25em;
      }
      li {
        list-style: none;
        &::before {
          content: "\002767";
          margin-right: 0.5em;
        }
      }
    }
    .description {
      grid-area: Lower;
      font-style: italic;
      font-size: 2.5vh;
      text-shadow: 1px 1px #000000;
      margin: 50px 20px;
      animation: fade-in 0.5s forwards;
      opacity: 0;
      text-align: center;
      a {
        @include menu-link;
        margin: 0 15px;
      }
    }
  }

  #game-over {
    .header {
      text-align: center;
      font-size: 3vh;
      z-index: 1;
      text-shadow: 1px 1px #000000;
      pointer-events: none;
      margin-top: 20vh;

      .main {
        font-size: 2em;
        opacity: 0;
        line-height: 1.0em;
      }
      .strapline {
        padding-top: 10px;
        font-size: 0.6em;
        opacity: 0;
      }

      .main { animation: fade-in 2.15s 0.0s forwards; }
      .strapline { animation: fade-in 3s 0.5s forwards; }
    }
  }

  #main-menu {
    user-select: none;
    display: grid;
    grid-template-rows: auto auto min-content;
    grid-template-areas: "Header" "." "Menu";
    margin: 10px;

    .header {
      font-size: 5vh;
      grid-area: Header;
      z-index: 1;
      text-shadow: 1px 1px #000000;
      pointer-events: none;

      .small { font-style: italic; }

      .small, .strapline {
        padding-top: 10px;
        font-size: 0.6em;
        opacity: 0;
      }

      .main {
        font-size: 1.75em;
        opacity: 0;
        line-height: 1.0em;
      }

      .small { animation: slide-and-fade-in 1.5s 0.25s forwards; }
      .main { animation: slide-and-fade-in 2.15s 1.0s forwards; }
      .strapline { animation: slide-and-fade-in 3s 2.5s forwards; }
    }

    .social {
      font-size: 2em;
      margin: 10px 0;
      a { padding: 0 5px; }
      img { height: 3vh; }
    }

    .disclaimer {
      margin-bottom: 10px;
      font-size: 0.5em;
    }
  }

  #main-menu, #game-over {
    menu {
      font-size: 2.5vh;
      text-shadow: 1px 1px #000000;
      grid-area: Menu;
      padding: 0;
      margin: 0;
      animation: fade-in 3s 2.5s forwards;
      opacity: 0;
      text-align: center;
      li {
        list-style: none;
        a {
          font-size: 1.25em;
          line-height: 1.75em;
          @include menu-link;
        }
      }
    }
  }
}

button {
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  background: #417154;
  color: white;
  -webkit-appearance: none;
  &.unselected, &:disabled {
    background: #aaa;
  }
}

.panel {
  .debug { display: none; }
  .row {
    display: flex;
    align-items: flex-start;
    margin: 5px 0;
    width: 100%;

    label {
      display: block;
      flex: 1 0 100px;
      width: 75px;
    }

    input {
      margin: 0 5px;
      flex: 1 0 100px;
      width: 50px;
    }

    button {
      display: block;
      margin: 0 5px 0 0;
      padding: 0 10px;
      height: 25px;
    }

    .progress {
      padding: 0 5px;
    }

    &.overlay {
      position: absolute;
      left: 10px;
    }
  }

  .character {
    touch-action: none;
  }

  h1 {
    font-size: 1.5em;
    padding: 5px 5px;
    margin: -8px -8px 0px -8px;
    border-radius: 4px;
  }

  font-size: 0.75em;
  color: white;
  background: $brown-200;

  padding: 10px;
  border-radius: 4px;

  @media (max-width: 499px) {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    touch-action: pan-y;
  }

  @media (min-width: 500px) {
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1);
    &.react-draggable-dragging {
      transition: opacity 0.2s;
      opacity: 0.8;
    }

    width: 275px;
    opacity: 1;
    transition: opacity 0.2s;

    h1:hover {
      transition: background 0.2s;
      background-color: $brown-200;
    }
  }
}

.job-list {
  margin: 5px 0;
  button {
    margin: 0px 5px 5px 0px;
  }
}

.popper {
  touch-action: pan-y;

  /* NOTE: Need to set this otherwise the popper div skews mobile browser
   * windows and wraps the positioning of the tooltip */
  position: absolute;

  a { text-decoration: underline; }

  font-size: 0.75em;
  color: white;
  background: $brown-200;
  max-width: 60%;

  padding: 8px 15px;
  border-radius: 4px;

  @media (max-width: 499px) {
    transform: translate(0px, 0px) !important;
    top: 25px !important;
    left: 5px !important;
    right: 5px !important;
    max-width: 90% !important;
    max-height: 100px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    .arrow {
      display: none;
    }
  }

  .arrow, .arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
  }

  .arrow::before {
    content: "";
    transform: rotate(45deg);
    background: $brown-200;
  }

  h1, h2 {
    margin: 0px;
    padding-bottom: 5px;
    font-weight: bold;
  }

  h1 {
    font-size: 1.25em;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 1em;
    padding-bottom: 3px;
  }

  p, ul {
    margin: 3px 0px 3px 0px;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    &::before {
      content: "\002767";
      margin-right: 0.5em;
    }
  }

  .attribute {
    margin: 2px 0px;
    progress {
      display: inline-block;
      margin: 0px 5px;
      width: 60px;
    }
  }

}

.popper[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
}

.popper[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
}

.popper[data-popper-placement^='left'] > .arrow {
  right: -4px;
}

.popper[data-popper-placement^='right'] > .arrow {
  left: -4px;
}

.capitalise {
  text-transform: capitalize;
}

.close {
  float: right;
  margin: -10px -13px -5px -10px;
  padding: 5px 10px 5px 10px;
  color: white;
  &:hover { transform: scale(1.25); color: #666; transition: transform 0.2s, color 0.5s; }
}

hr {
  border: 1px solid white;
  opacity: 0.25;
  margin: 15px 40px;
}
